body { background: #1abc9c; font-family: 'Lato', sans-serif; text-transform: uppercase; letter-spacing: 2px;}
 
header {
    color: rgb(255, 255, 255);
}

header.appName{
    font-size: 64px;
}

a{
    font-size: 24px;
    text-align: center;
}
