header {
    color: black;
}

header.appName{
    font-size: 64px;
}

.my-ripple-container {
    cursor: pointer;
    text-align: center;
    min-width: 64px;
    line-height: 36px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .menubutton{
      text-align: left;
      color: black;
      margin-left: 30%;
  }

  .menubutton button{
    font-size: 30px;
    font-weight: bold;
  }