<app-header>Loading header ... </app-header>
<br>

<div class="crypto-info-form">
    <div class="info">
        <h1>Работа с криптовалютой</h1>
        <p>Небольшой раздел по работе с криптовалютами</p>
    </div>
</div>

<div class="input-usd-crypto">
        <label>Введите сумму в долларах:</label>&nbsp;&nbsp;
        <input type="text" class="usd-crypto" [(ngModel)]="usdValue" maxlength="8" placeholder="USD (Max Length 8)">
        <button (click)="usdToBtc()">Перевести</button>
</div>

<div class="input-rub-crypto">
    <label>Введите сумму в рублях:</label>&nbsp;&nbsp;
    <input type="text" class="rub-crypto" [(ngModel)]="rubValue" maxlength="8" placeholder="RUB (Max Length 8)">
    <button (click)="rubToBtc()">Перевести</button>
</div>

<div class="input-eur-crypto">
    <label>Введите сумму в рублях:</label>&nbsp;&nbsp;
    <input type="text" class="eur-crypto" [(ngModel)]="eurValue" maxlength="8" placeholder="EUR (Max Length 8)">
    <button (click)="eurToBtc()">Перевести</button>
</div>