.info{
    text-align: center;
    margin: 24px;
    font-size: 20px;
}

.input-usd-crypto{
    margin: 16px;
}

.input-eur-crypto{
    margin: 16px;
}

.input-rub-crypto{
    margin: 16px;
}

.input-usd-crypto label{
    font-size: 26px;
}

.input-eur-crypto label{
    font-size: 26px;
}

.input-rub-crypto label{
    font-size: 26px;
}

.usd-crypto{
    margin-right: 24px;
    height: 40px;
    width: 150px;
}

.rub-crypto{
    margin-right: 24px;
    height: 40px;
    width: 150px;
}

.eur-crypto{
    margin-right: 24px;
    height: 40px;
    width: 150px;
}

.getCoinInfo {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #18701c;
	padding: 18px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
    width: 360px;
    height: 100px;
    font-size: 18px;
}

.getCoinInfo:hover {
	background: #ff8800;
    color: rgb(0, 0, 0) !important;
	letter-spacing: 1px;
    border: 3px solid #000000 !important;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

#infoBlocks{
    text-align: center;
    font-size: 22px;
    color: rgb(255, 255, 255);
    display: inline-flexbox;
    margin-top: 20px;
    display: none;
}

.calculate{
    height: 46px;
    width: 140px;
    font-size: 18px;
    text-align: center;
    
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #d31212;
	padding: 18px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.calculate:hover {
	background: #12b61a;
    color: rgb(0, 0, 0) !important;
	letter-spacing: 1px;
    border: 1px solid #000000 !important;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}