    <body>
        <form [formGroup] = "form"
        (ngSubmit) = "onSubmit()"
        >
            <h2>Авторизация</h2>
        
<div class="form-control"> 
            <mat-form-field>
                <mat-label class="emaillabel">Введите Email</mat-label>
                <input matInput type="email" placeholder="Почта" id="email" formControlName="email" minlength="3" maxlength="30" required>
            </mat-form-field>
</div>

<div class="form-control">
            <mat-form-field>
                <mat-label class="passwordlabel">Введите Password</mat-label>
                <input matInput type="password" placeholder="Пароль" id="password" formControlName="password" minlength="3" maxlength="30" required>
            </mat-form-field>
        </div>
            <div layout="row" layout-align="center center" class="materials-button-row">
                <button mat-raised-button type="submit">Войти</button>
                <a mat-raised-button [routerLink]="['/registration']">Регистрация</a>
            </div>
           
           
        </form>
    </body>