<body>
    <form [formGroup] = "form"
    (ngSubmit) = "onSubmit()"
    >
        &nbsp;<h2>Форма Регистрации</h2>&nbsp;&nbsp;
        
        <div class="form-control"> 
            <mat-form-field>
                <mat-label class="mylabel">Введите Email</mat-label>
                <input matInput type="email" placeholder="Почта" id="email" formControlName="email" [(ngModel)]="email" minlength="3" maxlength="30" required>
            </mat-form-field>
        </div>

        <div class="form-control"> 
            <mat-form-field>
                <mat-label class="mylabel">Введите Пароль</mat-label>
                <input matInput type="password" placeholder="Пароль" id="password" formControlName="password" [(ngModel)]="password" minlength="3" maxlength="30" required>
            </mat-form-field>
        </div>

        <div class="form-control"> 
            <mat-form-field>
                <mat-label class="mylabel">Повторите Пароль</mat-label>
                <input matInput type="password" placeholder="Подтверждение" id="password" formControlName="confirmpassword" [(ngModel)]="confirmpassword" minlength="3" maxlength="30" required>
            </mat-form-field>
        </div>

        <br>

        <div layout="row" layout-align="center center" class="materials-button-row">
            <button mat-raised-button 
            class="my-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color"  
            [disabled]="!email || !password || !confirmpassword"  
            type="submit">Подтвердить</button><br>
            <a class="gotologinform" mat-raised-button [routerLink]="['/login']">Вернуться на форму входа</a>
        </div> 
    </form>
</body>