@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@keyframes dots {
  50% {
    transform: translateY(-0.4rem);
  }
  100% {
    transform: translateY(25);
  }
}

.d {
  animation: dots 4.5s ease-out infinite;
}
.d-2 {
  animation-delay: 2.5s;
}
.d-3 {
  animation-delay: 5s;
}

body {
  background: url("./assets/background.jpg") no-repeat center center fixed;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}

* {
  text-align: center;
}
